
:root {

	/* Fonts */
	--font-family-body   : Tahoma, Geneva, sans-serif;
	--font-family-code   : 'Courier New', Courier, monospace;
	--font-family-quote  : Georgia, serif;

	/* Font sizes */
	--font-size-body : 14px;

	/* Colours */
	--color-action   : #3498db;
	--color-actioned : #a203fe;
	--color-body     : #333;
	--color-error    : #f63400;
	--color-highlight: color( var( --color-action ) lightness( 35% ));
	--color-valid    : #03fe0f;
	--color-warning  : #fe8b03;

	/* Media query sizes */
	@custom-media --mobile-portrait 	( width >=320px 	);
	@custom-media --mobile-landscape 	( width >=480px 	);
	@custom-media --phablet 			( width >=768px 	);
	@custom-media --desktop-small 		( width >=1024px 	);
	@custom-media --desktop-medium 		( width >=1280px 	);
	@custom-media --desktop-large 		( width >=1350px 	);

	/* Custom selectors */
	@custom-selector :--enter :hover, :focus;

}
