
@import '../configuration/variables';

a {
	display : flex;
	color : var(--color-action);
}

/*::selection {
	background 	: var( --color-highlight 	);
	color 		: var( --color-body 		);
	text-shadow : none;
}

::-moz-selection {
	background 	: var( --color-highlight 	);
	color 		: var( --color-body 		);
	text-shadow : none;
}

body {
	color 		: var( --color-body 		);
	font-family : var( --font-family-body 	);
	font-size 	: var( --font-size-body 	);
	height 		: 100%;
	line-height	: 1.4;
	padding 	: 10px 20px;

	/*@include media( mobile-landscape ) {
		line-height : 1.6;
		padding 	: 20px 40px;
	}*/
/*}

hr {
	display 	: block;
	height 		: 1px;
	border 		: 0;
	border-top 	: 1px solid var( --color-body );
	margin 		: 15px 0;
	padding 	: 0;
}

html {
	height 		: 100%;
	overflow-y 	: scroll;
}*/
