
.transition-opacity-enter {
	background: red;
}

.transition-opacity-leave {
	background: yellow;
}

/*
 * html5doctor.com Reset Stylesheet
 * v1.6.1
 * Last Updated: 2010-09-17
 * Author: Richard Clark - http: //richclarkdesign.com
 * Twitter: @rich_clark
 */
html 		,
body 		,
a 			,
div 		,
span 		,
object 		,
iframe 		,
h1 			,
h2 			,
h3 			,
h4 			,
h5 			,
h6 			,
p 			,
blockquote 	,
pre 		,
abbr 		,
address 	,
cite 		,
code 		,
del 		,
dfn 		,
em 			,
img 		,
ins 		,
kbd 		,
q 			,
samp 		,
small 		,
strong 		,
sub 		,
sup 		,
var 		,
b 			,
i 			,
dl 			,
dt 			,
dd 			,
ol 			,
ul 			,
li 			,
fieldset 	,
form 		,
label 		,
legend 		,
table 		,
caption 	,
tbody 		,
tfoot 		,
thead 		,
tr 			,
th 			,
td 			,
article 	,
aside 		,
canvas 		,
details 	,
figcaption 	,
figure 		,
footer 		,
header 		,
hgroup 		,
menu 		,
nav 		,
section 	,
summary 	,
time 		,
mark 		,
audio 		,
video {
	background 		: transparent;
	border 			: 0;
	box-sizing 		: border-box;
	font-size 		: 100%;
	margin 			: 0;
	outline 		: 0;
	padding 		: 0;
	vertical-align 	: baseline;
}
article 	,
aside 		,
details 	,
figcaption 	,
figure 		,
footer 		,
header 		,
hgroup 		,
menu 		,
nav 		,
section {
	display : block;
}
:root {

	/* Fonts */

	/* Font sizes */

	/* Colours */

	/* Media query sizes */

	/* Custom selectors */

}
::-moz-selection {
	background 		: rgb(168, 211, 240);
	color 		: rgb(46, 46, 46);
	text-shadow : none;
}
::selection {
	background 		: rgb(168, 211, 240);
	color 		: rgb(46, 46, 46);
	text-shadow : none;
}
body {
	color 		: #333;
	font-family 		: Tahoma, Geneva, sans-serif;
	font-size 		: 14px;
	height 		: 100%;
	line-height	: 1.4;
	padding 	: 10px 20px
}
@media 	(min-width: 480px) {
	body {
		line-height 		: 1.6;
		padding 		: 20px 40px;
	}
	}
hr {
	display 	: block;
	height 		: 1px;
	border 		: 0;
	border-top 		: 1px solid #333;
	margin 		: 15px 0;
	padding 	: 0;
}
html {
	height 		: 100%;
	overflow-y 	: scroll;
}
.button {
	background-image 		: -webkit-linear-gradient( 
		top 										, 
		rgb(191, 191, 191) 	, 
		rgb(140, 140, 140)
	);
	background-image 		: linear-gradient( 
		to bottom 										, 
		rgb(191, 191, 191) 	, 
		rgb(140, 140, 140)
	); 
	border 		: 1px solid rgb(115, 115, 115);
	border-radius 				: 3px;
	box-shadow 		: 0 0 3px 	rgb(128, 128, 128);
	color 		: #333;
	cursor 						: pointer;
	display 					: inline-block;
	font-family 		: Tahoma, Geneva, sans-serif;
	font-size 		: 14px;
	line-height 				: 1;
	margin 						: 0 0 10px;
	padding 					: 7px 15px;
	text-align 					: center;
	text-decoration 			: none;
	-webkit-transition-duration 		: 0.25s;
	        transition-duration 		: 0.25s;
	-webkit-transition-timing-function 	: ease-in-out;
	        transition-timing-function 	: ease-in-out;
	-webkit-transition-property 		: border , box-shadow , color , width;
	transition-property 		: border , box-shadow , color , width;
	white-space 				: nowrap;
	width 						: 100%;
	vertical-align 				: middle
}
@media 	(min-width: 480px) {
	.button {
		margin 		: 0 5px 10px 0;
		width 		: auto;
	}
	}
.button::focus-inner {
	border 		: 0;
	padding 		: 0 0 2px;
}
.button:visited {
	color 		: #333;
}
.button:hover,
.button:focus {
	background-image 		: -webkit-linear-gradient( 
			top 										, 
			rgb(128, 128, 128) 	, 
			rgb(128, 128, 128)
		);
	background-image 		: linear-gradient( 
			to bottom 										, 
			rgb(128, 128, 128) 	, 
			rgb(128, 128, 128)
		);
	border 		: 1px solid rgb(77, 77, 77);
	box-shadow 		: 0 0 3px 	rgb(77, 77, 77) inset;
	color 		: #333;
}
.button--action 	,
.button--actioned 	,
.button--error 		,
.button--valid 		,
.button--warning {
	color : #fff
}
.button--action:visited,
.button--action:hover,
.button--action:focus,
.button--actioned:visited,
.button--actioned:hover,
.button--actioned:focus,
.button--error:visited,
.button--error:hover,
.button--error:focus,
.button--valid:visited,
.button--valid:hover,
.button--valid:focus,
.button--warning:visited,
.button--warning:hover,
.button--warning:focus {
	color 		: #fff;
}
.button--action {
	background-image 		: -webkit-linear-gradient( 
		top 				, 
		#3498db 	, 
		rgb(42, 122, 175)
	);
	background-image 		: linear-gradient( 
		to bottom 				, 
		#3498db 	, 
		rgb(42, 122, 175)
	);
	border 		: 1px solid rgb(39, 114, 164);
	box-shadow 		: 0 0 3px 	rgb(39, 114, 164)
}
.button--action:hover,
.button--action:focus {
	background-image 		: -webkit-linear-gradient( 
			top 									, 
			rgb(39, 114, 164) 	, 
			rgb(39, 114, 164)
		);
	background-image 		: linear-gradient( 
			to bottom 									, 
			rgb(39, 114, 164) 	, 
			rgb(39, 114, 164)
		);
	border 		: 1px solid rgb(36, 106, 153);
	box-shadow 		: 0 0 3px 	rgb(36, 106, 153) inset;
}
.button--actioned {
	background-image 		: -webkit-linear-gradient( 
		top 				, 
		#a203fe , 
		rgb(130, 2, 203)
	);
	background-image 		: linear-gradient( 
		to bottom 				, 
		#a203fe , 
		rgb(130, 2, 203)
	);
	border 		: 1px solid rgb(122, 2, 191);
	box-shadow 		: 0 0 3px 	rgb(122, 2, 191)
}
.button--actioned:hover,
.button--actioned:focus {
	background-image 		: -webkit-linear-gradient( 
			top 										, 
			rgb(122, 2, 191) 	,
			rgb(122, 2, 191)
		);
	background-image 		: linear-gradient( 
			to bottom 										, 
			rgb(122, 2, 191) 	,
			rgb(122, 2, 191)
		);
	border 		: 1px solid rgb(113, 2, 178);
	box-shadow 		: 0 0 3px 	rgb(113, 2, 178) inset;
}
.button--error {
	background-image 		: -webkit-linear-gradient( 
		top 				, 
		#f63400 	,
		rgb(197, 42, 0)
	);
	background-image 		: linear-gradient( 
		to bottom 				, 
		#f63400 	,
		rgb(197, 42, 0)
	);
	border 		: 1px solid rgb(197, 42, 0);
	box-shadow 		: 0 0 3px 	rgb(197, 42, 0)
}
.button--error:hover,
.button--error:focus {
	background-image 		: -webkit-linear-gradient( 
			top 									, 
			rgb(197, 42, 0) 	,
			rgb(197, 42, 0)
		);
	background-image 		: linear-gradient( 
			to bottom 									, 
			rgb(197, 42, 0) 	,
			rgb(197, 42, 0)
		);
	border 		: 1px solid rgb(172, 36, 0);
	box-shadow 		: 0 0 3px 	rgb(172, 36, 0) inset;
}
.button--valid {
	background-image 		: -webkit-linear-gradient( 
		top 				, 
		#03fe0f 	,
		rgb(2, 203, 12)
	);
	background-image 		: linear-gradient( 
		to bottom 				, 
		#03fe0f 	,
		rgb(2, 203, 12)
	);
	border 		: 1px solid rgb(2, 203, 12);
	box-shadow 		: 0 0 3px 	rgb(2, 203, 12)
}
.button--valid:hover,
.button--valid:focus {
	background-image 		: -webkit-linear-gradient( 
			top 									, 
			rgb(2, 203, 12) 	, 
			rgb(2, 203, 12)
		);
	background-image 		: linear-gradient( 
			to bottom 									, 
			rgb(2, 203, 12) 	, 
			rgb(2, 203, 12)
		);
	border 		: 1px solid rgb(2, 178, 11);
	box-shadow 		: 0 0 3px 	rgb(2, 178, 11) inset;
}
.button--warning {
	background-image 		: -webkit-linear-gradient( 
		top 				, 
		#fe8b03 	,
		rgb(203, 111, 2)
	);
	background-image 		: linear-gradient( 
		to bottom 				, 
		#fe8b03 	,
		rgb(203, 111, 2)
	);
	border 		: 1px solid rgb(203, 111, 2);
	box-shadow 		: 0 0 3px 	rgb(203, 111, 2)
}
.button--warning:hover,
.button--warning:focus {
	background-image 		: -webkit-linear-gradient( 
			top 									, 
			rgb(203, 111, 2) ,
			rgb(203, 111, 2)
		);
	background-image 		: linear-gradient( 
			to bottom 									, 
			rgb(203, 111, 2) ,
			rgb(203, 111, 2)
		);
	border 		: 1px solid rgb(178, 97, 2);
	box-shadow 		: 0 0 3px 	rgb(178, 97, 2) inset;
}
.button--link 		,
.button--link:hover ,
.button--link:focus {
	background 		: none;
	border-color 	: transparent;
	box-shadow 		: none;
}
.button--link {
	color 		: #3498db;
	text-decoration : underline
}
.button--link:visited {
	color 		: rgb(122, 2, 191);
}
.button--link:hover,
.button--link:focus {
	color 		: rgb(39, 114, 164);
	text-decoration 		: none;
}
.button--disabled {
	cursor 			: text;
	opacity 		: 0.4;
	pointer-events 	: none;
}
audio 		,
canvas 		,
iframe 		,
meter 		,
progress 	,
video {
	margin 	: 0 0 15px;
	widows 	: 100%;
}
canvas 	,
iframe 	,
meter 	,
progress {
	background 		: rgb(242, 242, 242);
	border-radius 	: 3px;
	box-shadow 		: 0 0 3px rgb(191, 191, 191) inset;
}
canvas ,
iframe {
	border 		: 1px solid rgb(191, 191, 191);
}
iframe {
	overflow : hidden;
}
meter ,
progress {
	-webkit-appearance 	: none;
	   -moz-appearance 	: none;
	        appearance 	: none;
	border      : none;
	display     : block;
	font-size   : 10px;
	height      : 17px;
	text-align  : center;
}
meter {
}
meter::meter-bar {
	background 		: rgb(191, 191, 191);
	border 		: 1px solid rgb(166, 166, 166);
	border-radius 		: 3px;
	box-shadow 		: 0 0 2px rgb(166, 166, 166) inset;
}
meter::meter-optimum-value,
	meter::meter-suboptimum-value,
	meter::meter-even-less-good-value {
	border-radius 		: 3px;
}
meter::meter-optimum-value {
	background-image 		: -webkit-linear-gradient( 
			top 				, 
			#03fe0f 	, 
			rgb(2, 203, 12)
		);
	background-image 		: linear-gradient( 
			to bottom 				, 
			#03fe0f 	, 
			rgb(2, 203, 12)
		);
}
meter::meter-suboptimum-value {
	background-image 		: -webkit-linear-gradient( 
			top 				, 
			#fe8b03 , 
			rgb(203, 111, 2)
		);
	background-image 		: linear-gradient( 
			to bottom 				, 
			#fe8b03 , 
			rgb(203, 111, 2)
		);
}
meter::meter-even-less-good-value {
	background-image 		: -webkit-linear-gradient( 
			top 				, 
			#f63400 	, 
			rgb(197, 42, 0)
		);
	background-image 		: linear-gradient( 
			to bottom 				, 
			#f63400 	, 
			rgb(197, 42, 0)
		);
}
progress{
}
progress::progress-bar {
	background 		: rgb(191, 191, 191);
	border 		: 1px solid rgb(166, 166, 166);
	border-radius 		: 3px;
	box-shadow 		: 0 0 2px rgb(166, 166, 166) inset;
}
progress::progress-value {
	border-radius 		: 3px;
	background-image 		: -webkit-linear-gradient( 
			top 				, 
			#3498db 	, 
			rgb(42, 122, 175)
		);
	background-image 		: linear-gradient( 
			to bottom 				, 
			#3498db 	, 
			rgb(42, 122, 175)
		);
}
svg {
	margin: 0 0 15px;
}
video {
	background 		: rgb(242, 242, 242);
	border 		: 1ps solid rgb(191, 191, 191);
	-webkit-transition 		: background , 0.25s , ease-in-out;
	transition 	: background , 0.25s , ease-in-out
}
video:hover,
video:focus {
	background 		: rgb(217, 217, 217);
}
fieldset {
	border-bottom 		: 1px dotted rgb(191, 191, 191);
	margin 			: 0 0 15px;
	padding 		: 0 0 15px;
}
form {
	margin : 0 0 5px;
}
input 		,
textarea 	,
select {
	background 		: rgb(242, 242, 242);
	border 		: 1px solid rgb(191, 191, 191);
	border-radius 				: 3px;
	box-shadow 		: 0 0 3px rgb(166, 166, 166) inset;
	box-sizing 					: border-box;
	color 		: #333;
	padding 					: 5px 10px 6px;
	-webkit-transition-duration 		: 0.25s;
	        transition-duration 		: 0.25s;
	-webkit-transition-property 		: background , border , box-shadow , width;
	transition-property 		: background , border , box-shadow , width;
	-webkit-transition-timing-function 	: ease-in-out;
	        transition-timing-function 	: ease-in-out;
	vertical-align 				: middle;
	width 						: 100%
}
input:focus, textarea:focus, select:focus {
	background 		: #fff;
	border 		: 1px solid #3498db;
	box-shadow 		: 0 0 3px #3498db;
}
.form__row--disabled {
}
.form__row--disabled input,
	.form__row--disabled textarea,
	.form__row--disabled select {
	cursor 		: default;
}
input ,
textarea {
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color 		: rgb(84, 84, 84);
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color 		: rgb(84, 84, 84);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color 		: rgb(84, 84, 84);
}
input::placeholder, textarea::placeholder {
	color 		: rgb(84, 84, 84);
}
input {
}
input::inner-spin-button,
	input::outer-spin-button,
	input::clear-button,
	input::calendar-picker-indicator {
	display 		: none;
}
input::clear {
	display 		: none;
}
input[ type="checkbox" 	] ,
input[ type="radio" 	] {
	background 	: #fff;
	border 		: none;
	box-shadow 	: none;
	cursor 		: pointer;
	margin 		: 0 5px 0 0;
	padding 	: 0;
	position 	: relative;
	top 		: -2px;
	width 		: auto
}
input[ type="checkbox" 	]:focus, input[ type="radio" 	]:focus {
	outline 		: none;
	+ label {
		color 		: #3498db;
	}
}
.form__row--disabled {
}
.form__row--disabled input[ type="checkbox" 	],
	.form__row--disabled input[ type="radio" 		] {
	cursor 		: default;
}
input[ type="file" ] {
	padding : 3px;
}
input[ type="color" ] {
	cursor 	: pointer;
	padding : 2px 0;
	width 	: 25px
}
input[ type="color" ]::color-swatch-wrapper {
	padding 		: 1px 3px;
}
input[ type="color" ]::color-swatch {
	border 		: 1px solid rgb(44, 129, 186);
	border-radius 		: 3px;
	box-shadow 		: 0 0 3px 	rgb(47, 137, 197) inset;
}
input[ type="number" ] {
	-webkit-appearance : textfield;
	   -moz-appearance : textfield;
	        appearance : textfield;
}
input[ type="range" ] {
	-webkit-appearance 	: none;
	   -moz-appearance 	: none;
	        appearance 	: none;
	background 	: none;
	border 		: none;
	box-shadow 	: none;
	margin 		: 10px 0;
	padding 	: 0;
	width 		: 100%

	/*&::-ms-track {
		background      : none;
		border          : none;
		color           : transparent;
		cursor          : pointer;
		height          : 45px;
		animate         : 0.2s;
		width           : 100%;
	}

	&::-ms-thumb {
		background          : color( var( --color-body ) lightness( 65% ));
		box-shadow          : 0 0 3px color( var( --color-body ) lightness( 65% ));
		border              : 1px solid color( var( --color-body ) lightness( 50% ));
		border-radius       : 3px;
		cursor              : pointer;
		height              : 40px;
		width               : 15px;
	}

	&::-ms-fill-lower,
	&::-ms-fill-upper {
		background          : color( var( --color-body ) lightness( 75% ));
		box-shadow          : 0 0 3px color( var( --color-body ) lightness( 65% )) inset;
		border              : 1px solid color( var( --color-body ) lightness( 65% ));
		border-radius       : 3px;
		height              : 15px;
	}*/
}
input[ type="range" ]:focus {
	outline 		: none;
}
input[ type="range" ]::slider-runnable-track {
	background 		: rgb(191, 191, 191);
	border 		: 1px solid rgb(166, 166, 166);
	border-radius 		: 3px;
	box-shadow 		: 0 0 3px rgb(166, 166, 166) inset;
	cursor 		: pointer;
	height 		: 15px;
	animate 		: 0.2s;
	width 		: 100%;
}
input[ type="range" ]::slider-thumb {
	-webkit-appearance 		: none;
	   -moz-appearance 		: none;
	        appearance 		: none;
	background 		: rgb(166, 166, 166);
	box-shadow 		: 0 0 3px rgb(166, 166, 166);
	border 		: 1px solid rgb(128, 128, 128);
	border-radius 		: 3px;
	cursor 		: pointer;
	height 		: 40px;
	margin-top 		: -14px;
	width 		: 15px;
}
input[ type="range" ]::focus-outer {
	border 		: none;
}
input[ type="range" ]::range-track {
	animate 		: 0.2s;
	background 		: rgb(191, 191, 191);
	border 		: 1px solid rgb(166, 166, 166);
	border-radius 		: 3px;
	box-shadow 		: 0 0 3px rgb(166, 166, 166) inset;
	cursor 		: pointer;
	height 		: 15px;
	width 		: 100%;
}
input[ type="range" ]::range-thumb {
	background 		: rgb(166, 166, 166);
	box-shadow 		: 0 0 3px rgb(166, 166, 166);
	border 		: 1px solid rgb(128, 128, 128);
	border-radius 		: 3px;
	cursor 		: pointer;
	height 		: 40px;
	width 		: 15px;
}
label {
	color 		: #333;
	display 	: inline-block;
	font-size 	: 700;
	cursor 		: pointer;
	-webkit-transition 		: color , 0.25s , ease-in-out;
	transition 	: color , 0.25s , ease-in-out;
}
.form__row--disabled {
}
.form__row--disabled label {
	cursor 		: text;
}
legend {
	color 		: rgb(46, 46, 46);
	display 	: block;
	font-size 	: 21px;
	padding		: 0 0 15px;
}
select {
	cursor 		: pointer;
}
textarea {
	font-family 		: Tahoma, Geneva, sans-serif;
	font-size 		: 14px;
	overflow 	: auto;
}
/* Form Structure */
.form__row ,
.form__submit-row {
	margin : 0 0 10px;
}
/*.form__submit-row {

	ul {
		list-style  : none;
		margin      : 0;
	}

	li {
		margin      : 0;

		@include media( mobile-landscape ) {
			display : inline;
		}
	}
}*/
.form__row--disabled {
	opacity : 0.4;
}
.form__required {
	color 		: #f63400;
	font-size 	: 12px;
	font-weight : 700;
}
legend {
}
legend .form__required {
	position 		: relative;
	top 		: -5px;
}
.form__message--error {
	color 		: #f63400;
	display : block;
	margin 	: 0 0 5px;
}
.form__field {
	padding : 5px 0 0;
}
.form__instruction {
	cursor 		: help;
	display		: block;
	font-size 	: 12px;
	padding-top : 5px
}
@media 	(min-width: 480px) {
	.form__instruction {
		display 		: inline;
		margin-left 		: 2px;
		padding 		: 0;
		position 		: relative;
		top 		: 1px;
	}
	}
.form__input--error {
	border-color 		: #f63400;
	box-shadow 		: 0 0 3px #f63400 inset;
}
.form__input--valid {
	border-color 		: #03fe0f;
	box-shadow 		: 0 0 3px #03fe0f inset;
}
/* Form Control Sizes */
.form__input--sml {
}
@media 	(min-width: 480px) {
	.form__input--sml {
		width 		: 25%;
	}
	}
.form__input--med {
}
@media 	(min-width: 480px) {
	.form__input--med {
		width 		: 50%;
	}
	}
.form__input--lrg {
}
@media 	(min-width: 480px) {
	.form__input--lrg {
		width 		: 75%;
	}
	}
.is__accessible {
	left 		: -9999px;
	position 	: absolute;
	top 		: -9999px;
}
.haslayout {
	overflow : hidden;
}
.loader {
	min-height 	: 200px;
	position 	: relative;
}
.loader__signal {
	background 	: 0 0 url( '/images/presentation/loader-small.gif' ) no-repeat;
	height 		: 32px;
	left 		: 50%;
	margin 		: -16px 0 0 -16px;
	position 	: absolute;
	overflow 	: hidden;
	top 		: 30%;
	width 		: 32px;
}
.loader__body {
	-webkit-transition 		: opacity , 0.25s , ease-in-out;
	transition 	: opacity , 0.25s , ease-in-out;
}
.loader__body--loading {
	cursor 	: wait;
	opacity : 0.4;
}
code 	,
kbd 	,
samp 	,
var {
	font-family 		: 'Courier New', Courier, monospace;
}
code {
	background 		: rgb(242, 242, 242);
	border 		: 1px solid rgb(191, 191, 191);
	color 		: #f63400;
	padding 	: 2px 5px;
}
pre {
}
pre code {
	background 		: none;
	border 		: none;
	color 		: rgb(38, 38, 38);
	padding 		: 0;
}
kbd {
	background 		: #333;
	color 			: #fff;
	border-radius 	: 3px;
	padding 		: 0 4px;
}
pre {
	background 		: rgb(242, 242, 242);
	border 		: 1px solid rgb(191, 191, 191);
	border-radius 	: 3px;
	box-shadow 		: 0 0 3px rgb(191, 191, 191) inset;
	color 		: rgb(38, 38, 38);
	margin 			: 0 0 15px;
	padding 		: 8px 10px;
	white-space 	: normal
}
@media 	(min-width: 480px) {
	pre {
		white-space 		: pre;
	}
	}
samp {
	-webkit-text-decoration-style : wavy;
	        text-decoration-style : wavy;
}
var {
	font-style : normal;
}
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	color 		: #333;
	font-weight : 400;
	margin 		: 0 0 15px;
}
h1 {
	font-size 	: 32px;
}
h2 {
	font-size 	: 27px;
}
h3 {
	font-size 	: 24px;
}
h4 {
	font-size 	: 21px;
}
h5 {
	font-size 	: 18px;
}
h6 {
	font-size 	: 16px;
}
figure {
	display 	: inline-block;
	margin 		: 0 0 15px;
	position 	: relative;
	width 		: 100%
}
@media 	(min-width: 320px) {
	figure {
		width 		: auto;
	}
	}
figure img {
	float 		: left;
	height 		: auto;
	margin 		: 0;
	width 		: 100%;
}
@media 	(min-width: 320px) {
	figure img {
		width 		: auto;
	}
}
figcaption {
	background 	: rgba( 0, 0, 0, 0.8 );
	bottom 		: 0;
	color 		: rgb(242, 242, 242);
	padding 	: 3px 5px 5px;
	position 	: absolute;
	width 		: 100%;
}
img {
	background 		: rgb(242, 242, 242);
	border 		: 1px solid rgb(191, 191, 191);
	margin 		: 0 0 15px;
}
.img {
	height 		: auto;
	-webkit-transition 		: width , 0.25s , ease-in-out;
	transition 	: width , 0.25s , ease-in-out;
	width 		: 100%
}
@media 	(min-width: 320px) {
	.img {
		width 		: auto;
	}
	}
.img--left {
}
@media 	(min-width: 320px) {
	.img--left {
		float 		: left;
		margin 		: 5px 15px 15px 0;
	}
	}
.img--right {
}
@media 	(min-width: 320px) {
	.img--right {
		float 		: right;
		margin 		: 5px 0 15px 15px;
	}
	}
a {
	border-bottom 				: 1px solid transparent;
	color 		: #3498db;
	cursor 						: pointer;
	text-decoration 			: none;
	-webkit-transition-duration 		: 0.25s;
	        transition-duration 		: 0.25s;
	-webkit-transition-property 		: border , color;
	transition-property 		: border , color;
	-webkit-transition-timing-function 	: ease-in-out;
	        transition-timing-function 	: ease-in-out
}
a:visited {
	color 		: rgb(122, 2, 191);
}
a:hover,
a:focus {
	border-bottom 		: 1px solid rgb(39, 114, 164);
	color 		: rgb(39, 114, 164);
	text-decoration 		: none;
}
.link--skip {
}
.link--skip:focus {
	position 		: static;
}
dl {
	margin 	: 0 0 15px;
}
dt {
	font-weight : 700;
}
dd {
	margin : 0 0 5px 40px;
}
li {
	margin : 0 0 5px;
}
nav {
	margin 		: 0 0 15px;
	overflow 	: hidden
}
nav ul,
	nav ol {
	list-style 		: none;
	margin 		: 0;
}
nav li {
	margin 		: 0 0 5px;
}
@media 	(min-width: 480px) {
	nav li {
		float 		: left;
		margin 		: 0 5px;
	}
}
nav li:first-child {
	margin-left 		: 0;
}
ol ,
ul {
	list-style-position : outside;
	margin 				: 0 0 15px 30px;
}
ol {
	list-style-type 	: decimal;
}
ul {
	list-style-type 	: disc;
}
blockquote 	,
cite 		,
q {
	font-family 		: Georgia, serif;
	font-style  : italic;
}
blockquote {
	background 		: rgb(242, 242, 242);
	border-bottom 		: 1px solid rgb(191, 191, 191);
	border-left 		: 3px solid rgb(191, 191, 191);
	border-right 		: 1px solid rgb(191, 191, 191);
	border-top 		: 1px solid rgb(191, 191, 191);
	border-radius 	: 3px;
	box-shadow 		: 0 0 3px rgb(217, 217, 217) inset;
	color 			: lighten( $color-body, 15 );
	margin 			: 0 20px 15px;
	padding 		: 20px 20px 15px;
	quotes 			: none
}
blockquote:after,
	blockquote:before {
	content 		: '';
	content 		: none;
}
blockquote p {
	margin 		: 0 0 5px;
}
blockquote cite {
	font-size 		: 12px;
	font-style 		: normal;
}
q {
	quotes : '\201C''\201D''\2018''\2019'
}
q:before {
	content 		: open-quote;
}
q:after {
	content 		: close-quote;
}
caption {
	color 		: rgb(46, 46, 46);
	font-size 	: 21px;
	margin 		: 0 0 5px;
	text-align 	: left;
}
table {
	border-collapse : collapse;
	border-top 		: 1px solid rgb(191, 191, 191);
	border-left 		: 1px solid rgb(191, 191, 191);
	border-spacing 	: 0;
	margin 			: 0 0 15px;
	table-layout 	: fixed;
	width 			: 100%;
}
td ,
th {
	border-right 		: 1px solid rgb(191, 191, 191);
	border-bottom 		: 1px solid rgb(191, 191, 191);
	display 		: list-item;
	list-style 		: none;
	padding 		: 8px 10px 10px;
	text-align 		: left
}
@media 	(min-width: 480px) {
	td ,
th {
		display 		: table-cell;
	}
	}
th {
	background 		: rgb(242, 242, 242);
	font-weight : 400;
}
/*tbody ,
tfoot {
	
	& td {
		background : none;
	}
}

thead {

	& td {
		border-bottom-color : color( var( --color-body ) lightness( 75% ));
	}
}

tbody {

	& tr {
		transition : background , 0.25s , ease-in-out;

		&:nth-child( 2n ) {
			background : color( var( --color-body ) lightness( 90% ));
		}
	}
}*/
abbr[ title ] ,
dfn[ title ] {
	border-bottom 		: 1px dotted #333;
	cursor 			: help;
	text-decoration : none;
}
del {
	opacity 		: 0.4;
	text-decoration : line-through;
}
em ,
i {
	font-style : italic;
}
ins {
	background 		: rgb(168, 211, 240);
	color 		: rgb(46, 46, 46);
	padding 		: 0 2px;
	text-decoration : none;
}
mark {
	background 		: rgb(168, 211, 240);
	color 		: rgb(46, 46, 46);
	font-style 	: italic;
	font-weight : 700;
	padding 	: 0 5px;
}
p {
	font-size 	: 14px;
	margin 		: 0 0 15px;
}
strong ,
b {
	color 		: rgb(46, 46, 46);
	font-weight : 700;
}
s {
	text-decoration : line-through;
}
small {
	font-size : 12px;
}
sub ,
sup {
	font-size 	: 10px;
	position 	: relative;
	padding 	: 0 2px;
}
sub {
	bottom : -5px;
}
sup {
	top : -5px;
}
time {
	font-family 		: 'Courier New', Courier, monospace;
	font-size 	: 12px;
}
u {
	color 		: #333;
	-webkit-text-decoration-style 	: wavy;
	        text-decoration-style 	: wavy;
}
.align--center {
	text-align : center;
}
.align--right {
	text-align : right;
}
.align--justify {
	text-align : justify;
}
/*# sourceMappingURL=application.css.map*/